body {
  background: black;
}

.LFG-header {
  font-family: 'Abel', sans-serif;
  color: bisque;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.ul-container {
  display: flex;
  font-family: 'Lato', sans-serif;
}

ul li {
  color: bisque;
}

li {
  list-style-type: none;
}