body {
  background: black;
}

.LFG-header {
  font-family: 'Abel', sans-serif;
  color: bisque;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.ul-container {
  display: none;
  font-family: 'Lato', sans-serif;
  background: rgba(85, 85, 85, 0.356);
  margin-top: 15px;
}

ul li {
  color: bisque;
}

li {
  list-style-type: none;
  cursor: pointer;
}

li:hover {
  color: rgb(204, 186, 165);
}